<div class="top-header">

  <!-- Left Section -->

  <div class="left-section">

    <div class="search-box">

      <span class="search-icon">
        🔍
      </span>

      <input
        type="text"
        placeholder="Search doctors, appointments..."
      />

    </div>

  </div>


  <!-- Right Section -->

  <div class="right-section">

    <!-- Notification -->

    <div class="notification-box">

      🔔

      <span class="notification-badge">
        3
      </span>

    </div>


    <!-- Profile -->

    <div class="profile-section">

      <img
        src="https://i.pravatar.cc/100"
        alt="profile"
      />

      <div class="profile-info">

        <h4>
          {{ patientName }}
        </h4>

        <p>
          Patient
        </p>

      </div>

    </div>

  </div>

</div>
